<div class="container-dashboard bgcontent overflow-y-auto">
  <app-sidebar-admin></app-sidebar-admin>

  <div class="main-content">
    <app-navbar-admin></app-navbar-admin>
    <div class="container p-5 chartbg">
      <div class="text-content">
        <h3 class="fw-bold text-uppercase py-2">List of Enrollment</h3>
      </div>
      <div class="chart-container bg-white h-auto p-3 rounded">
        <table
          class="table table-bordered table-striped"
          #dataTable
          style="width: 100%"
        >
          <thead>
            <tr>
              <th>ID</th>
              <th>Student Name</th>
              <th>Year Level</th>
              <th>Major</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>John E. Doe</td>
              <td>Grade 11</td>
              <td>Dance</td>
              <td>Enrolled</td>
              <td>
                <button class="btn btn-primary">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-eye"></i>View</a
                  >
                </button>
                <button class="btn btn-success mx-2">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-pen text-white"></i>Edit</a
                  >
                </button>
                <button class="btn btn-danger">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-trash text-white"></i>Delete</a
                  >
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>John E. Doe</td>
              <td>Grade 11</td>
              <td>Dance</td>
              <td>Enrolled</td>
              <td>
                <button class="btn btn-primary">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-eye"></i>View</a
                  >
                </button>
                <button class="btn btn-success mx-2">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-pen text-white"></i>Edit</a
                  >
                </button>
                <button class="btn btn-danger">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-trash text-white"></i>Delete</a
                  >
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>John E. Doe</td>
              <td>Grade 11</td>
              <td>Dance</td>
              <td>Enrolled</td>
              <td>
                <button class="btn btn-primary">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-eye"></i>View</a
                  >
                </button>
                <button class="btn btn-success mx-2">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-pen text-white"></i>Edit</a
                  >
                </button>
                <button class="btn btn-danger">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-trash text-white"></i>Delete</a
                  >
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>John E. Doe</td>
              <td>Grade 11</td>
              <td>Dance</td>
              <td>Enrolled</td>
              <td>
                <button class="btn btn-primary">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-eye"></i>View</a
                  >
                </button>
                <button class="btn btn-success mx-2">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-pen text-white"></i>Edit</a
                  >
                </button>
                <button class="btn btn-danger">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-trash text-white"></i>Delete</a
                  >
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>John E. Doe</td>
              <td>Grade 11</td>
              <td>Dance</td>
              <td>Enrolled</td>
              <td>
                <button class="btn btn-primary">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-eye"></i>View</a
                  >
                </button>
                <button class="btn btn-success mx-2">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-pen text-white"></i>Edit</a
                  >
                </button>
                <button class="btn btn-danger">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-trash text-white"></i>Delete</a
                  >
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>John E. Doe</td>
              <td>Grade 11</td>
              <td>Dance</td>
              <td>Enrolled</td>
              <td>
                <button class="btn btn-primary">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-eye"></i>View</a
                  >
                </button>
                <button class="btn btn-success mx-2">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-pen text-white"></i>Edit</a
                  >
                </button>
                <button class="btn btn-danger">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-trash text-white"></i>Delete</a
                  >
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>John E. Doe</td>
              <td>Grade 11</td>
              <td>Dance</td>
              <td>Enrolled</td>
              <td>
                <button class="btn btn-primary">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-eye"></i>View</a
                  >
                </button>
                <button class="btn btn-success mx-2">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-pen text-white"></i>Edit</a
                  >
                </button>
                <button class="btn btn-danger">
                  <a class="text-white text-decoration-none"
                    ><i class="fa-solid fa-trash text-white"></i>Delete</a
                  >
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
