.bgcontent {
  background: #4a8515;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container-dashboard {
  width: 100%;
  min-height: 100%;
}

.main-content {
  min-width: 80%;
  height: 100vh;
  margin-left: 20%;
  z-index: 1;

  .chart-container {
    width: 100%;
    height: 350px;
  }

  .chartbg {
    min-height: 100%;
  }

  .text-content {
    margin-top: 2rem;
  }
}

.img-holder-def {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: contain;
  // background-position: top;
  // background-size: cover;
  border: 1px solid black;
  display: block;
}

input[type="text"],
textarea {
  text-transform: uppercase;
}
