<div
  class="container-fluid vh-100 d-flex justify-content-center align-items-center flex-column q-link"
>
  <div class="text-start w-75 mt-5">
    <h2 class="text-white">Quick Links</h2>
  </div>
  <div class="divider mb-3"></div>

  <div class="d-flex justify-content-evenly w-75 text-center mb-5">
    <a
      href="https://mail.google.com"
      target="_blank"
      class="link-offset-2 link-underline link-underline-opacity-0 text-white"
    >
      <img
        src="../../../../assets/images/Gmail-logo.png"
        class="mw-100 mb-2 mt-2"
        alt="Gmail-logo"
        width="50"
      />
      <br />
      Email
    </a>
    <a
      href="https://classroom.google.com"
      target="_blank"
      class="link-offset-2 link-underline link-underline-opacity-0 text-white"
    >
      <img
        src="../../../../assets/images/Google-classroom.png"
        class="mw-100 mb-1"
        width="50"
        alt="Google-classroom"
      />
      <br />
      Google Classroom
    </a>
    <a
      href="https://drive.google.com/"
      target="_blank"
      class="link-offset-2 link-underline link-underline-opacity-0 text-white"
    >
      <img
        src="../../../../assets/images/Google_Drive_Logo_512px.png"
        class="mw-100 mt-2 mb-3"
        width="25"
        alt="Google-drive"
      />
      <br />
      Google Drive
    </a>
    <a
      href="https://www.facebook.com/mgynhs304919"
      target="_blank"
      class="link-offset-2 link-underline link-underline-opacity-0 text-white"
    >
      <img
        src="../../../assets/images/logo.png"
        class="mw-100 my-2 mb- bg-white rounded"
        width="30"
        alt="Google-drive"
      />
      <br />
      MNHS Facebook Page
    </a>
  </div>

  <div class="text-start w-75 mt-5">
    <h2 class="text-white">Educational Resources</h2>
  </div>
  <div class="divider mb-3"></div>
  <div class="d-flex justify-content-evenly w-75 text-center mb-5">
    <a
      href="https://scholar.google.com/"
      target="_blank"
      class="link-offset-2 link-underline link-underline-opacity-0 text-white"
    >
      <img
        src="../../../../assets/images/Google_Scholar_logo.svg.png"
        class="mw-100 mb-2 mt-2"
        alt="Gmail-logo"
        width="35"
      />
      <br />
      Google Scholar
    </a>
    <a
      href="https://www.wikipedia.org/"
      target="_blank"
      class="link-offset-2 link-underline link-underline-opacity-0 text-white"
    >
      <img
        src="../../../../assets/images/Wikipedia-logo-v2.svg.png"
        class="mw-100 my-2"
        width="35"
        alt="Wikipedia"
      />
      <br />
      Wikipedia
    </a>
    <a
      href="https://www.jstor.org/"
      target="_blank"
      class="link-offset-2 link-underline link-underline-opacity-0 text-white"
    >
      <img
        src="../../../../assets/images/JSTOR-Logo.png"
        class="mw-100"
        width="50"
        alt="JSTOR"
      />
      <br />
      JSTOR
    </a>
    <a
      href="https://www.academia.edu/"
      target="_blank"
      class="link-offset-2 link-underline link-underline-opacity-0 text-white"
    >
      <img
        src="../../../../assets/images/sg-11134201-22120-qib1spfb3dlvf0.jpg"
        class="mw-100 my-2 mt-3 mb- bg-white rounded"
        width="25"
        alt="Academia"
      />
      <br />
      Academia
    </a>
    <a
      href="https://www.base-search.net/"
      target="_blank"
      class="link-offset-2 link-underline link-underline-opacity-0 text-white"
    >
      <img
        src="../../../../assets/images/download.png"
        class="mw-100 my-2 mt-3 mb- bg-white rounded"
        width="25"
        alt="Base"
      />
      <br />
      BASE
    </a>
  </div>
</div>
