#login {
  background-image: url("../../../src/assets/images/239653396_108487398220398_4498152433778202849_n\ 1.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

input {
  width: 80%;
  border: none;
}

.login-button {
  border: none;
}

a {
  text-decoration: none;
}

.logo {
  width: 23% !important;
  position: absolute;
  bottom: 81%;
  left: 36%;
}

.leftBg {
  object-fit: contain;
  border-radius: 10px;
}
