<!-- src/app/components/login/login.component.html -->

<div
  class="container-fluid p-0 mw-100 vh-100 d-flex justify-content-center align-items-center"
  id="login">
  <div
    class="d-none position-absolute"
    id="loading">
    <div class="loader"></div>
    <div class="text-center">Loading....</div>
  </div>
  <div
    class="mx-auto container-fluid bg-opacity-75 rounded-4 login-bg position-relative card shadow-lg"
    id="mainPage">
    <div class="position-absolute top-0 start-50 translate-middle">
      <img
        src="../../assets/images/logo.png"
        class="img-responsive logo">
    </div>
    <div class="mt-5 container login-holder">
      <form
        (ngSubmit)="login()"
        class="mt-4">
        <div class="mb-3 mx-auto">
          <label
            for="username"
            class="form-label me-3">
            Username
          </label>
          <br>
          <input
            type="text"
            pInputText
            name="username"
            id="username"
            [(ngModel)]="username"
            [style]="{'width': '257px'}">
        </div>
        <div class="mb-3 mx-auto">
          <label
            for="password"
            class="form-label me-3">
            Password:
          </label>
          <br>
          <p-password
            name="password"
            [feedback]="false"
            id="password"
            [(ngModel)]="password"
            [toggleMask]="true">
          </p-password>
        </div>
        <div class="text-center">
          <p-button
            type="submit"
            class="p-button-success"
            [style]="{'width': '100%'}"
            *ngIf="!loading">
            Login
          </p-button>
          <p-progressSpinner
            styleClass="w-4rem h-4rem"
            strokeWidth="8"
            fill="var(--surface-ground)"
            animationDuration=".5s"
            *ngIf="loading"></p-progressSpinner>
        </div>
      </form>
      <div class="d-flex justify-content-between py-4">
        <a
          routerLink="/"
          class="fw-normal text-primary">
          Back
        </a>
        <a
          routerLink="/forgot-password"
          class="fw-normal text-danger">
          Forgot Password?
        </a>
      </div>
    </div>
  </div>
</div>
