<div
  class="container-fluid p-0 mw-100 vh-100 d-flex justify-content-center align-items-center"
  id="login"
>
  <div class="d-none position-absolute" id="loading">
    <div class="loader"></div>
    <div class="text-center">Loading....</div>
  </div>
  <div
    class="w-50 bg-light mx-auto container-fluid p-2 bg-opacity-75 rounded-4 login-bg position-relative"
    id="mainPage"
  >
    <div>
      <img
        src="../../assets/images/logo.png"
        class="img-responsive w-100 logo"
      />
    </div>
    <div class="row g-1">
      <div
        class="col-6 px-3 d-flex align-items-center justify-content-center my-3"
      >
        <img
          src="../../assets/images/Rectangle 6.png"
          alt="left-bg"
          class="img-fluid leftBg"
        />
      </div>
      <div class="col-6 align-items-center pt-5">
        <h3 class="fst-italic text-center">We Educate We Train</h3>
        <form action="" class="mt-4">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control w-100"
              name="username"
              id="username"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="text"
              class="form-control w-100"
              name="password"
              id="password"
            />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-success w-75 mx-auto">
              Signin
            </button>
          </div>
        </form>
        <div class="row">
          <div class="col-6">
            <p class="text-start mt-3 mx-5">
              <a routerLink="/" class="fw-normal text-primary"> Back </a>
            </p>
          </div>
          <div class="col-6">
            <p class="text-start mt-3">
              <a routerLink="/forgot-password" class="fw-normal text-primary">
                Forgot Password?
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
