<nav class="navbar position-fixed nav-student bgnavbar">
  <div class="container-fluid">
    <div class="mw-100 text-center">
      <img
        src="../../../assets/images/logo.png"
        class="img-responsive mw-100"
        width="50"
        height="50"
        alt="ascb_logo"
      />
      <span class="navbar-brand mb-0 h2 mx-4 text-white nav-text"
        >Mangagoy National High School</span
      >
    </div>
    <div class="d-flex align-items-center">
      <div class="dropdown">
        <button
          type="button"
          class="btn header-item noti-icon waves-effect"
          id="page-header-notifications-dropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-bell fs-4"></i>
          <span class="noti-dot"></span>
        </button>
      </div>
    </div>
  </div>
</nav>
