<div class="container-dashboard bgcontent">
	<app-sidebar-admin></app-sidebar-admin>
	<div class="main-content">
		<div class="background"></div>
		<app-navbar></app-navbar>
		<div class="container-fluid vh-100 q-link">
			<div class="d-flex justify-content-evenly mb-5 info">
				<form (ngSubmit)="resetPassword()"
					class="w-100">
					<h2 class="my-2 mx-3">Reset Password</h2>
					<br>
					<div class="mb-3 w-75 mx-auto">
						<label for="username"
							class="form-label text-start">
							Username
						</label>
						<input [(ngModel)]="username"
							type="text"
							class="form-control"
							name="username"
							id="username"
							aria-describedby="helpId"
							autofocus
							required>
						<div *ngIf="errorMessages['username']"
							class="text-danger">
							{{ errorMessages['username'] }}
						</div>
					</div>
					<div class="mb-3 w-75 mx-auto">
						<label for="old_pass"
							class="form-label">
							Old Password
						</label>
						<input [(ngModel)]="oldPassword"
							type="password"
							class="form-control"
							name="old_pass"
							id="old_pass"
							aria-describedby="helpId"
							required>
						<div *ngIf="errorMessages['old_password']"
							class="text-danger">
							{{ errorMessages['old_password'] }}
						</div>
					</div>
					<div class="mb-3 w-75 mx-auto">
						<label for="new_pass"
							class="form-label">
							New Password
						</label>
						<input [(ngModel)]="newPassword"
							type="password"
							class="form-control"
							name="new_pass"
							id="new_pass"
							aria-describedby="helpId"
							required>
						<div *ngIf="errorMessages['new_password']"
							class="text-danger">
							{{ errorMessages['new_password'] }}
						</div>
					</div>
					<div class="mb-3 w-75 mx-auto">
						<label for="new_pass_confirm"
							class="form-label">
							Confirm New Password
						</label>
						<input [(ngModel)]="newPasswordConfirmation"
							type="password"
							class="form-control"
							name="new_pass_confirm"
							id="new_pass_confirm"
							aria-describedby="helpId"
							required>
						<div *ngIf="errorMessages['new_password_confirmation']"
							class="text-danger">
							{{ errorMessages['new_password_confirmation'] }}
						</div>
					</div>
					<div class="text-center my-5">
						<button type="submit"
							class="btn btn-success">
							Save Changes
						</button>
					</div>
				</form>
			</div>
			<div class="opacity-0 my-2">spacer</div>
		</div>
	</div>
</div>
