<div class="container-holder">
  <div class="background"></div>

  <nav class="navbar navbar-expand-lg position-fixed w-100 z-1">
    <div class="container-fluid d-flex justify-content-between py-1">
      <div class="mx-5 fs-5"><a routerLink="">Home</a></div>
      <div class="mx-5 fs-5"><a href="">Login</a></div>
    </div>
  </nav>

  <div class="container-fluid enrollment-form py-4 position-relative">
    <img
      src="../../assets/images/logo.png"
      alt="logo"
      width="150"
      class="position-absolute top-25 start-50 translate-middle z-4"
    />
    <div class="container-fluid form-container py-2">
      <h2 class="text-center mt-5 pt-4">Junior HighSchool Enrollment</h2>
      <hr />
      <form action="">
        <h2>Personal Information</h2>
        <div class="row">
          <div class="col-4">
            <div class="mb-3">
              <label for="first_name" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                name="first_name"
                id="first_name"
                aria-describedby="helpId"
                placeholder="ex. John"
                autofocus
                required
              />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="last_name" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                name="last_name"
                id="last_name"
                aria-describedby="helpId"
                placeholder="ex. Doe"
                required
              />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="middle_name" class="form-label"
                >Middle Name (Optional)</label
              >
              <input
                type="text"
                class="form-control"
                name="middle_name"
                id="middle_name"
                aria-describedby="helpId"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 container">
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="suffix" class="form-label"
                    >Suffix (Optional)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="suffix"
                    id="suffix"
                    aria-describedby="helpId"
                    required
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="gender" class="form-label">Gender</label>
                  <select
                    name="gender"
                    id="gender"
                    class="form-select"
                    required
                  >
                    <option value="">Please Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="civil_status" class="form-label">Civil Status</label>
              <select
                name="civil_status"
                id="civil_status"
                class="form-select"
                required
              >
                <option value="">Please Select Status</option>
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Widowed">Widowed</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="b_date" class="form-label">Birth Date</label>
              <input
                type="date"
                class="form-control"
                name="b_date"
                id="b_date"
                aria-describedby="helpId"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="mb-3">
              <label for="b_place" class="form-label">Birth Place</label>
              <input
                type="text"
                class="form-control"
                name="b_place"
                id="b_place"
                aria-describedby="helpId"
                required
              />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                aria-describedby="helpId"
                placeholder="ex. johndoe@gmail.com"
                required
              />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="number" class="form-label">Mobile Number</label>
              <input
                type="text"
                class="form-control"
                name="number"
                id="number"
                aria-describedby="helpId"
                placeholder="ex. 09123456789"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="mb-3">
              <label for="citizenship" class="form-label">Citizenship</label>
              <input
                type="text"
                class="form-control"
                name="citizenship"
                id="citizenship"
                aria-describedby="helpId"
                required
              />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="religion" class="form-label">Religion</label>
              <input
                type="text"
                class="form-control"
                name="religion"
                id="religion"
                aria-describedby="helpId"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <label for="home_address" class="form-label">Home Address</label>
              <textarea
                name="home_address"
                id="home_address"
                class="form-control"
                cols="50"
                rows="2"
                required
              ></textarea>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="present_address" class="form-label"
                >Present Address</label
              >
              <textarea
                name="present_address"
                id="present_address"
                class="form-control"
                cols="50"
                rows="2"
                required
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="mb-3">
              <label for="enrolling_for" class="form-label"
                >Enrolling For</label
              >
              <select
                name="enrolling_for"
                id="enrolling_for"
                class="form-select"
                required
              >
                <option value="" disabled selected>
                  Please Select Year Level
                </option>
                <option value="7">Grade 7</option>
                <option value="8">Grade 8</option>
                <option value="9">Grade 9</option>
                <option value="10">Grade 10</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="major" class="form-label"
                >JHS Special Program Offered:</label
              >
              <select name="major" id="major" class="form-select" required>
                <option value="" disabled selected>Please Select Major</option>
                <optgroup label="Journalism Major In:">
                  <option value="Basic Journalism">Basic Journalism</option>
                  <option value="Page Design & Layout">
                    Page Design & Layout
                  </option>
                  <option value="Radio Broadcasting">Radio Broadcasting</option>
                  <option value="Television Broadcasting">
                    Television Broadcasting
                  </option>
                </optgroup>
                <optgroup label="ARTS">
                  <option value="Dance">Dance</option>
                  <option value="Theater">Theater</option>
                  <option value="Visual Arts">Visual Arts</option>
                </optgroup>
              </select>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <h2>Educational Record</h2>
          <div class="col-6">
            <div class="mb-3">
              <label for="elementary" class="form-label"
                >Elementary School Name</label
              >
              <input
                type="text"
                class="form-control"
                name="elementary"
                id="elementary"
                aria-describedby="helpId"
                required
              />
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="elementary_yr" class="form-label"
                >Elementary School Year</label
              >
              <input
                type="text"
                class="form-control"
                name="elementary_yr"
                id="elementary_yr"
                aria-describedby="helpId"
                required
              />
            </div>
          </div>
        </div>
        <hr />
        <h2>Parents Information</h2>
        <div class="row">
          <div class="col-4">
            <div class="mb-3">
              <label for="father_name" class="form-label">Father's Name</label>
              <input
                type="text"
                class="form-control"
                name="father_name"
                id="father_name"
                aria-describedby="helpId"
                required
              />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="father_occupation" class="form-label"
                >Father's Occupation</label
              >
              <input
                type="text"
                class="form-control"
                name="father_occupation"
                id="father_occupation"
                aria-describedby="helpId"
                required
              />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="father_number" class="form-label"
                >Father's Contact Number</label
              >
              <input
                type="text"
                class="form-control"
                name="father_number"
                id="father_number"
                aria-describedby="helpId"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="mb-3">
              <label for="mother_name" class="form-label">Mother's Name</label>
              <input
                type="text"
                class="form-control"
                name="mother_name"
                id="mother_name"
                aria-describedby="helpId"
                required
              />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="mother_occupation" class="form-label"
                >Mother's Occupation</label
              >
              <input
                type="text"
                class="form-control"
                name="mother_occupation"
                id="mother_occupation"
                aria-describedby="helpId"
                required
              />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="mother_number" class="form-label"
                >Mother's Contact Number</label
              >
              <input
                type="text"
                class="form-control"
                name="mother_number"
                id="mother_number"
                aria-describedby="helpId"
                required
              />
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <label for="profile" class="form-label">Profile Image</label>
              <input
                type="file"
                accept="image/*"
                class="form-control mb-3"
                name="profile"
                id="profile"
                (change)="showPreview($event)"
              />
              <div class="imagePreview text-center">
                <img
                  *ngIf="!imageURL || imageURL === ''"
                  src="../../assets/images/default_Profile.png"
                  alt="Default Image"
                  class="img-thumbnail"
                  width="300"
                />

                <img
                  *ngIf="imageURL && imageURL !== ''"
                  [src]="imageURL"
                  [alt]="uploadForm.value.name"
                  class="img-thumbnail"
                  width="300"
                />
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="mb-3">
              <label for="mother_occupation" class="form-label"
                >Your Signature</label
              >
              <canvas
                #canvas
                (touchstart)="startDrawing($event)"
                (touchmove)="moved($event)"
                width="500"
                height="200"
              ></canvas>
              <p class="error-message" *ngIf="signatureNeeded">
                Signature is required
              </p>

              <div class="my-3">
                <button (click)="clearPad()" class="btn btn-info">Clear</button>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success">Enroll Now!</button>
        </div>
      </form>
    </div>
  </div>
</div>
