<div class="container-holder">
  <div class="background"></div>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex justify-content-between py-1">
      <div class="mx-5 fs-5"><a href="">Home</a></div>
      <div class="mx-5 fs-5"><a href="">Login</a></div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-4 text-center text-white banner-side">
        <img
          src="../../assets/images/logo.png"
          alt="logo"
          width="200"
          class="mt-5"
        />
        <h2 class="text-dark fw-bolder my-3">M. N. H. S.</h2>
        <p class="fs-3 text-dark fw-semibold">
          Mangagoy National HighSchool Online Enrollment System
        </p>
        <span class="text-dark fst-italic fw-bold"
          >Home of Brains, Talents and Skills</span
        >
      </div>
      <div
        class="col-8 d-flex justify-content-center align-items-center flex-column enroll-links"
      >
        <div class="d-flex justify-content-evenly">
          <a
            routerLink="/JHS/enrollment"
            class="fw-bold mx-5 fs-4 px-5 text-white"
            >Enroll JHS</a
          >
          <a
            routerLink="/SHS/enrollment"
            class="fw-bold mx-5 fs-4 px-5 text-white"
            >Enroll SHS</a
          >
        </div>
        <div class="my-5 fs-4">
          <a
            routerLink="/transferee/enrollment"
            class="fw-bold mx-4 fs-4 px-5 text-white"
            >Transferee JHS</a
          >
          <a
            routerLink="/transferee/shs/enrollment"
            class="fw-bold mx-4 fs-4 px-5 text-white"
            >Transferee SHS</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
