.topper{
    padding: 8% 2% 8% 2%;
}

.profile-img {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: contain;
  border: 1px solid black;
  display: block;
}

.img-signature{
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: contain;
  // background-position: top;
  // background-size: cover;
  border: 1px solid black;
  display: block;
}

canvas {
  border: 1px solid black;
  display: block;
}

.img-holder{
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: contain;
  // background-position: top;
  // background-size: cover;
  border: 1px solid black;
  display: block;
}

.img-holder-def{
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  // background-position: top;
  // background-size: cover;
  border: 1px solid black;
  display: block;
}
