.topper {
  padding: 8% 2% 8% 2%;
}

.profile-img {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: contain;
  border: 1px solid black;
  display: block;
}

.img-signature {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: contain;
  // background-position: top;
  // background-size: cover;
  border: 1px solid black;
  display: block;
}

canvas {
  border: 1px solid black;
  display: block;
}

.img-holder {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: contain;
  // background-position: top;
  // background-size: cover;
  border: 1px solid black;
  display: block;
}

.img-holder-def {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  // background-position: top;
  // background-size: cover;
  border: 1px solid black;
  display: block;
}
input[type="text"],
textarea {
  text-transform: uppercase;
}

/* // responsive */

@media (min-width: 480px) and (max-width: 767px) {
}

/* For tablets (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* For small desktops and large tablets (1024px to 1199px) */
@media (min-width: 1024px) and (max-width: 1199px) {
}
