<div class="container-dashboard">
  <div class="background"></div>
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <app-navbar></app-navbar>
    <p-toast position="top-center"/>
    <div
      class="container-fluid vh-100 d-flex justify-content-center align-items-center flex-column q-link"
    >
      <div class="d-flex justify-content-evenly my-5 info info-holder">
        <div class="container-fluid">
          <h2>S.Y. 2023-2024</h2>
          <div class="d-flex justify-content-end p-2">
            <button
              type="submit"
              class="btn btn-success"
              (click)="updateInfoDIalog()"
            >
              Update Info
            </button>
          </div>
          <form>
            <div
              *ngIf="
                loggedInUserData?.data &&
                loggedInUserData.data.length > 0 &&
                (loggedInUserData.data[0].status === 'jhs_transferee' ||
                  loggedInUserData.data[0].status === 'shs_transferee')
              "
            >
              <h5>
                For Returning Learner (Balik-Aral) and Those Who will
                Transfer/Move In
              </h5>
              <div class="row">
                <div class="col-4">
                  <div class="mb-3">
                    <label for="schoolID" class="form-label">
                      School ID
                      <small class="text-danger">*</small>
                    </label>
                    <input
                      [value]="loggedInUserData.data[0].school_id"
                      type="text"
                      class="form-control"
                      name="schoolID"
                      id="schoolID"
                      required
                      readonly
                    />
                  </div>
                </div>
                <div class="col-4">
                  <div class="mb-3">
                    <label for="lastgradecompl" class="form-label">
                      Last Grade Level Completed
                      <small class="text-danger">*</small>
                    </label>
                    <input
                      [value]="loggedInUserData.data[0].lastgrade_completed"
                      type="text"
                      class="form-control"
                      name="lastgradecompl"
                      id="lastgradecompl"
                      required
                      readonly
                    />
                  </div>
                </div>
              </div>
              <hr />
            </div>
            <div
              *ngIf="
                loggedInUserData?.data &&
                loggedInUserData.data.length > 0 &&
                (loggedInUserData.data[0].status === 'shs' ||
                  loggedInUserData.data[0].status === 'shs_transferee')
              "
            >
              <h5>For Learners in Senior High School</h5>
              <div class="row p-3">
                <div class="col-4">
                  <label for="semester" class="form-label">
                    Semester:
                    <small class="text-danger">*</small>
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.semester"
                    type="text"
                    class="form-control"
                    name="semester"
                    id="semester"
                    readonly
                  />
                </div>
                <div class="col-4">
                  <div class="mb-3">
                    <label for="track" class="form-label"> Track </label>
                    <input
                      [value]="loggedInUserData?.data[0]?.track"
                      type="text"
                      class="form-control"
                      name="track"
                      id="track"
                      required
                      readonly
                    />
                  </div>
                </div>
                <div class="col-4">
                  <div class="mb-3">
                    <label for="strand" class="form-label">
                      Strand
                      <small class="text-danger">*</small>
                    </label>
                    <input
                      [value]="loggedInUserData?.data[0]?.strand"
                      type="text"
                      class="form-control"
                      name="strand"
                      id="strand"
                      required
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>
            <h5 class="my-3">Learner Information</h5>
            <div class="row">
              <div class="col-4">
                <div class="mb-3">
                  <label for="enrolling_for" class="form-label">
                    Grade Level to Enroll
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.grade_level"
                    name="enrolling_for"
                    id="enrolling_for"
                    class="form-control"
                    readonly
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label for="major" class="form-label">
                    JHS Special Program Offered
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.special_program"
                    name="major"
                    id="major"
                    class="form-control"
                    readonly
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label for="lrn" class="form-label"> LRN Number </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.LRN"
                    type="text"
                    class="form-control"
                    name="lrn"
                    id="lrn"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="mb-3">
                  <label for="first_name" class="form-label">
                    First Name
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.firstname"
                    type="text"
                    class="form-control"
                    name="first_name"
                    id="first_name"
                    required
                    readonly
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label for="last_name" class="form-label"> Last Name </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.lastname"
                    type="text"
                    class="form-control"
                    name="last_name"
                    id="last_name"
                    required
                    readonly
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label for="middle_name" class="form-label">
                    Middle Name (Optional)
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.middlename"
                    type="text"
                    class="form-control"
                    name="middle_name"
                    id="middle_name"
                    required
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4 container">
                <div class="row">
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="suffix" class="form-label">
                        Suffix (Optional)
                      </label>
                      <input
                        [value]="loggedInUserData?.data[0]?.suffix"
                        type="text"
                        class="form-control"
                        name="suffix"
                        id="suffix"
                        required
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="gender" class="form-label"> Gender </label>
                      <select
                        [value]="loggedInUserData?.data[0]?.gender"
                        name="gender"
                        id="gender"
                        class="form-select"
                        required
                        readonly
                      >
                        <option value>Please Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label for="b_place" class="form-label">
                    Place of Birth (Municipality/City)
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.birth_place"
                    type="text"
                    class="form-control"
                    name="b_place"
                    id="b_place"
                    required
                    readonly
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <div class="row">
                    <div class="col-6">
                      <label for="age" class="form-label"> Birth Date </label>
                      <input
                        [value]="loggedInUserData?.data[0]?.birthdate"
                        type="date"
                        class="form-control"
                        name="age"
                        id="age"
                        required
                        readonly
                      />
                    </div>
                    <div class="col-6">
                      <label for="b_date" class="form-label"> Age </label>
                      <input
                        [value]="loggedInUserData?.data[0]?.age"
                        type="text"
                        class="form-control"
                        name="age"
                        id="age"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="mb-3">
                  <label for="email" class="form-label"> Email </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.email"
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    required
                    readonly
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label for="number" class="form-label"> Mobile Number </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.mobile_number"
                    type="text"
                    class="form-control"
                    name="number"
                    id="number"
                    required
                    readonly
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label for="m_tounge" class="form-label">
                    Mother Tounge (Optional)
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.m_tounge"
                    type="text"
                    class="form-control text-uppercase"
                    name="m_tounge"
                    id="m_tounge"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="ip" class="form-label">
                    Belonging to any Indigenous People (IP) Community/Indigenous
                    Cultural Community?
                  </label>
                  <br />
                  <input
                    [value]="loggedInUserData?.data[0]?.ip"
                    type="text"
                    id="ip"
                    class="form-control"
                    required
                    list="ip"
                    readonly
                  />
                  <small> If Yes, Please Specify: </small>
                </div>
              </div>

              <div class="col-6">
                <div class="mb-3">
                  <label for="major" class="form-label">
                    Is your family a beneficiary of 4Ps?
                  </label>
                  <br />
                  <br />
                  <input
                    [value]="loggedInUserData?.data[0]?.pantawid"
                    type="text"
                    id="pantawid"
                    name="pantawid"
                    class="form-control"
                    required
                    list="pantawid"
                    readonly
                  />
                  <small>
                    If Yes, write the 4Ps Household ID Number Above
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="home_address" class="form-label">
                    Permanent Address
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.home_address"
                    name="home_address"
                    id="home_address"
                    class="form-control"
                    required
                    readonly
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="present_address" class="form-label">
                    Current Address
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.present_address"
                    name="present_address"
                    id="present_address"
                    class="form-control"
                    required
                    readonly
                  />
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <h5>Educational Record</h5>
              <div class="col-6">
                <div class="mb-3">
                  <label for="elementary" class="form-label">
                    Elementary School Name
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.school_elem"
                    type="text"
                    class="form-control"
                    name="elementary"
                    id="elementary"
                    required
                    readonly
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="elementary_yr" class="form-label">
                    Elementary School Year
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.elem_schoolyr"
                    type="text"
                    class="form-control"
                    name="elementary_yr"
                    id="elementary_yr"
                    required
                    readonly
                  />
                </div>
              </div>
            </div>
            <div
              *ngIf="
                loggedInUserData?.data &&
                loggedInUserData.data.length > 0 &&
                loggedInUserData.data[0].status === 'shs'
              "
            >
              <div class="row">
                <div class="col-6">
                  <div class="mb-3">
                    <label for="jhs" class="form-label">
                      Junior High School Name
                    </label>
                    <input
                      [value]="loggedInUserData?.data[0]?.school_jhs"
                      type="text"
                      class="form-control"
                      name="jhs"
                      id="jhs"
                      required
                      readonly
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="mb-3">
                    <label for="jhs_yr" class="form-label">
                      Juinor High School Year
                    </label>
                    <input
                      [value]="loggedInUserData?.data[0]?.jhs_schoolyr"
                      type="text"
                      class="form-control"
                      name="jhs_yr"
                      id="jhs_yr"
                      required
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngIf="
                loggedInUserData?.data &&
                loggedInUserData.data.length > 0 &&
                (loggedInUserData.data[0].status === 'jhs_transferee' ||
                  loggedInUserData.data[0].status === 'shs_transferee')
              "
            >
              <div class="row">
                <div class="col-6">
                  <div class="mb-3">
                    <label for="last_school" class="form-label">
                      Last School Name
                    </label>
                    <input
                      [value]="loggedInUserData?.data[0]?.last_school"
                      type="text"
                      class="form-control"
                      name="last_school"
                      id="last_school"
                      required
                      readonly
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="mb-3">
                    <label for="last_schoolyr" class="form-label">
                      Last School Year
                    </label>
                    <input
                      [value]="loggedInUserData?.data[0]?.last_schoolyr"
                      type="text"
                      class="form-control"
                      name="last_schoolyr"
                      id="last_schoolyr"
                      required
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <h5>Parents Information</h5>
            <div class="row">
              <caption class="fw-bold">
                Father's Name
              </caption>
              <div class="col-3">
                <div class="mb-3">
                  <label for="father_lastName" class="form-label">
                    Last Name
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.father_lastName"
                    type="text"
                    class="form-control text-uppercase"
                    name="father_lastName"
                    id="father_lastName"
                    readonly
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="mb-3">
                  <label for="father_firstName" class="form-label">
                    First Name
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.father_firstName"
                    type="text"
                    class="form-control text-uppercase"
                    name="father_firstName"
                    id="father_firstName"
                    readonly
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="mb-3">
                  <label for="father_middleName" class="form-label">
                    Middle Name
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.father_middleName"
                    type="text"
                    class="form-control text-uppercase"
                    name="father_middleName"
                    id="father_middleName"
                    readonly
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="mb-3">
                  <label for="father_number" class="form-label">
                    Contact Number
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.father_number"
                    type="text"
                    class="form-control text-uppercase"
                    name="father_number"
                    id="father_number"
                    readonly
                  />
                </div>
              </div>
              <hr />
            </div>
            <div class="row">
              <caption class="fw-bold">
                Mother's Name
              </caption>
              <div class="col-3">
                <div class="mb-3">
                  <label for="mother_lastName" class="form-label">
                    Last Name
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.mother_lastName"
                    type="text"
                    class="form-control text-uppercase"
                    name="mother_lastName"
                    id="mother_lastName"
                    readonly
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="mb-3">
                  <label for="mother_firstName" class="form-label">
                    First Name
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.mother_firstName"
                    type="text"
                    class="form-control text-uppercase"
                    name="mother_firstName"
                    id="mother_firstName"
                    readonly
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="mb-3">
                  <label for="mother_middleName" class="form-label">
                    Middle Name
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.mother_middleName"
                    type="text"
                    class="form-control text-uppercase"
                    name="mother_middleName"
                    id="mother_middleName"
                    readonly
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="mb-3">
                  <label for="mother_number" class="form-label">
                    Contact Number
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.mother_number"
                    type="text"
                    class="form-control text-uppercase"
                    name="mother_number"
                    id="mother_number"
                    readonly
                  />
                </div>
              </div>
              <hr />
            </div>
            <div class="row">
              <caption class="fw-bold">
                Guardian's Name
              </caption>
              <div class="col-3">
                <div class="mb-3">
                  <label for="guardian_lastName" class="form-label">
                    Last Name
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.guardian_lastName"
                    type="text"
                    class="form-control text-uppercase"
                    name="guardian_lastName"
                    id="guardian_lastName"
                    readonly
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="mb-3">
                  <label for="guardian_firstName" class="form-label">
                    First Name
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.guardian_firstName"
                    type="text"
                    class="form-control text-uppercase"
                    name="guardian_firstName"
                    id="guardian_firstName"
                    readonly
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="mb-3">
                  <label for="guardian_middleName" class="form-label">
                    Middle Name
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.guardian_middleName"
                    type="text"
                    class="form-control text-uppercase"
                    name="guardian_middleName"
                    id="guardian_middleName"
                    readonly
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="mb-3">
                  <label for="guardian_number" class="form-label">
                    Contact Number
                  </label>
                  <input
                    [value]="loggedInUserData?.data[0]?.guardian_number"
                    type="text"
                    class="form-control text-uppercase"
                    name="guardian_number"
                    id="guardian_number"
                    readonly
                  />
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="profile" class="form-label">
                    Profile Image
                    <small class="text-danger">*</small>
                  </label>
                  <div class="imagePreview text-center">
                    <img
                      *ngIf="!loggedInUserData?.data[0]?.profile_image"
                      src="../../assets/images/default_Profile.png"
                      alt="Default Image"
                      class="img-thumbnail"
                      width="300"
                    />
                    <img
                      *ngIf="loggedInUserData?.data[0]?.profile_image"
                      [src]="
                        'http://127.0.0.1:8000/uploads/userimages/' +
                        loggedInUserData?.data[0]?.profile_image
                      "
                      [alt]="loggedInUserData?.data[0]?.profile_image"
                      class="img-thumbnail"
                      width="200"
                    />
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="mother_occupation" class="form-label">
                    Your Signature
                    <small class="text-danger">*</small>
                  </label>
                  <img
                    [src]="loggedInUserData?.data[0]?.signature"
                    width="500"
                    height="200"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="opacity-0 my-2">spacer</div>
    </div>
  </div>
</div>

<p-dialog
  header="Header"
  [modal]="true"
  [(visible)]="showupdateDIalog"
  [style]="{ width: '80rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true"
>
  <form [formGroup]="enrollForm" (ngSubmit)="updateInfos()" enctype="multipart/form-data">
    <input type="hidden" formControlName="studid" />
    <div
      *ngIf="
        loggedInUserData?.data &&
        loggedInUserData.data.length > 0 &&
        (loggedInUserData.data[0].status === 'jhs_transferee' ||
          loggedInUserData.data[0].status === 'shs_transferee')
      "
    >
      <h5>
        For Returning Learner (Balik-Aral) and Those Who will Transfer/Move In
      </h5>
      <div class="row">
        <div class="col-4">
          <div class="mb-3">
            <label for="schoolID" class="form-label">
              School ID
              <small class="text-danger">*</small>
            </label>
            <input
              type="text"
              formControlName="schoolID"
              class="form-control"
              name="schoolID"
              id="schoolID"
              required
            />
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="lastgradecompl" class="form-label">
              Last Grade Level Completed
              <small class="text-danger">*</small>
            </label>
            <input
              type="text"
              class="form-control"
              formControlName="lastgradecompl"
              name="lastgradecompl"
              id="lastgradecompl"
              required
            />
          </div>
        </div>
      </div>
      <hr />
    </div>
    <div
      *ngIf="
        loggedInUserData?.data &&
        loggedInUserData.data.length > 0 &&
        (loggedInUserData.data[0].status === 'shs' ||
          loggedInUserData.data[0].status === 'shs_transferee')
      "
    >
      <h5>For Learners in Senior High School</h5>
      <div class="row p-3">
        <div class="col-4">
          <label for="semester" class="form-label">
            Semester:
            <small class="text-danger">*</small>
          </label>
          <input
            type="text"
            class="form-control"
            formControlName="semester"
            name="semester"
            id="semester"
          />
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="track" class="form-label"> Track </label>
            <input
              type="text"
              class="form-control"
              name="track"
              formControlName="track"
              id="track"
              required
            />
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="strand" class="form-label">
              Strand
              <small class="text-danger">*</small>
            </label>
            <input
              type="text"
              class="form-control"
              name="strand"
              formControlName="strand"
              id="strand"
              required
            />
          </div>
        </div>
      </div>
    </div>
    <h5 class="my-3">Learner Information</h5>
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label for="enrolling_for" class="form-label">
            Grade Level to Enroll
          </label>
          <input
            name="enrolling_for"
            id="enrolling_for"
            formControlName="enrolling_for"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="major" class="form-label">
            JHS Special Program Offered
          </label>
          <input
            name="major"
            formControlName="special_program"
            id="major"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="lrn" class="form-label"> LRN Number </label>
          <input
            type="text"
            class="form-control"
            formControlName="lrn"
            name="lrn"
            id="lrn"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label for="first_name" class="form-label"> First Name </label>
          <input
            type="text"
            class="form-control"
            name="first_name"
            formControlName="first_name"
            id="first_name"
            required
          />
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="last_name" class="form-label"> Last Name </label>
          <input
            type="text"
            class="form-control"
            formControlName="last_name"
            name="last_name"
            id="last_name"
            required
          />
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="middle_name" class="form-label">
            Middle Name (Optional)
          </label>
          <input
            type="text"
            class="form-control"
            formControlName="middle_name"
            name="middle_name"
            id="middle_name"
            required
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 container">
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <label for="suffix" class="form-label"> Suffix (Optional) </label>
              <input
                type="text"
                class="form-control"
                name="suffix"
                formControlName="suffix"
                id="suffix"
                required
              />
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="gender" class="form-label"> Gender </label>
              <select
                name="gender"
                id="gender"
                formControlName="gender"
                class="form-select"
                required
              >
                <option value>Please Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="birth_place" class="form-label">
            Place of Birth (Municipality/City)
          </label>
          <input
            type="text"
            class="form-control"
            formControlName="birth_place"
            name="birth_place"
            id="birth_place"
            required
          />
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <div class="row">
            <div class="col-6">
              <label for="birthdate" class="form-label"> Birth Date </label>
              <input
                type="date"
                class="form-control"
                formControlName="birthdate"
                name="birthdate"
                id="birthdate"
                required
              />
            </div>
            <div class="col-6">
              <label for="age" class="form-label"> Age </label>
              <input
                type="text"
                class="form-control"
                formControlName="age"
                name="age"
                id="age"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label for="email" class="form-label"> Email </label>
          <input
            type="email"
            class="form-control"
            name="email"
            formControlName="email"
            id="email"
            required
          />
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="mobile_number" class="form-label"> Mobile Number </label>
          <input
            type="text"
            class="form-control"
            formControlName="mobile_number"
            name="mobile_number"
            id="mobile_number"
            required
          />
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="m_tounge" class="form-label">
            Mother Tounge (Optional)
          </label>
          <input
            type="text"
            class="form-control text-uppercase"
            name="m_tounge"
            formControlName="m_tounge"
            id="m_tounge"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="ip" class="form-label">
            Belonging to any Indigenous People (IP) Community/Indigenous
            Cultural Community?
          </label>
          <br />
          <input
            type="text"
            id="ip"
            class="form-control"
            formControlName="ip"
            required
            list="ip"
          />
          <small> If Yes, Please Specify: </small>
        </div>
      </div>

      <div class="col-6">
        <div class="mb-3">
          <label for="pantawid" class="form-label">
            Is your family a beneficiary of 4Ps?
          </label>
          <br />
          <br />
          <input
            type="text"
            id="pantawid"
            name="pantawid"
            class="form-control"
            formControlName="pantawid"
            required
            list="pantawid"
          />
          <small> If Yes, write the 4Ps Household ID Number Above </small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="home_address" class="form-label">
            Permanent Address
          </label>
          <input
            name="home_address"
            id="home_address"
            formControlName="home_address"
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="present_address" class="form-label">
            Current Address
          </label>
          <input
            name="present_address"
            id="present_address"
            formControlName="present_address"
            class="form-control"
            required
          />
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <h5>Educational Record</h5>
      <div class="col-6">
        <div class="mb-3">
          <label for="elementary" class="form-label">
            Elementary School Name
          </label>
          <input
            type="text"
            class="form-control"
            formControlName="elementary"
            name="elementary"
            id="elementary"
            required
          />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="elementary_yr" class="form-label">
            Elementary School Year
          </label>
          <input
            type="text"
            class="form-control"
            formControlName="elementary_yr"
            name="elementary_yr"
            id="elementary_yr"
            required
          />
        </div>
      </div>
    </div>
    <div
      *ngIf="
        loggedInUserData?.data &&
        loggedInUserData.data.length > 0 &&
        loggedInUserData.data[0].status === 'shs'
      "
    >
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="jhs" class="form-label">
              Junior High School Name
            </label>
            <input
              type="text"
              class="form-control"
              formControlName="jhs"
              name="jhs"
              id="jhs"
              required
            />
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="jhs_yr" class="form-label">
              Juinor High School Year
            </label>
            <input
              type="text"
              class="form-control"
              formControlName="jhs_yr"
              name="jhs_yr"
              id="jhs_yr"
              required
            />
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="
        loggedInUserData?.data &&
        loggedInUserData.data.length > 0 &&
        (loggedInUserData.data[0].status === 'jhs_transferee' ||
          loggedInUserData.data[0].status === 'shs_transferee')
      "
    >
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="last_school" class="form-label">
              Last School Name
            </label>
            <input
              type="text"
              class="form-control"
              formControlName="last_school"
              name="last_school"
              id="last_school"
              required
            />
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="last_schoolyr" class="form-label">
              Last School Year
            </label>
            <input
              type="text"
              class="form-control"
              formControlName="last_schoolyr"
              name="last_schoolyr"
              id="last_schoolyr"
              required
            />
          </div>
        </div>
      </div>
    </div>
    <hr />
    <h5>Parents Information</h5>
    <div class="row">
      <caption class="fw-bold">
        Father's Name
      </caption>
      <div class="col-3">
        <div class="mb-3">
          <label for="father_lastName" class="form-label"> Last Name </label>
          <input
            type="text"
            class="form-control text-uppercase"
            formControlName="father_lastName"
            name="father_lastName"
            id="father_lastName"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="father_firstName" class="form-label"> First Name </label>
          <input
            type="text"
            class="form-control text-uppercase"
            formControlName="father_firstName"
            name="father_firstName"
            id="father_firstName"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="father_middleName" class="form-label">
            Middle Name
          </label>
          <input
            type="text"
            class="form-control text-uppercase"
            formControlName="father_middleName"
            name="father_middleName"
            id="father_middleName"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="father_number" class="form-label"> Contact Number </label>
          <input
            type="text"
            class="form-control text-uppercase"
            formControlName="father_number"
            name="father_number"
            id="father_number"
          />
        </div>
      </div>
      <hr />
    </div>
    <div class="row">
      <caption class="fw-bold">
        Mother's Name
      </caption>
      <div class="col-3">
        <div class="mb-3">
          <label for="mother_lastName" class="form-label"> Last Name </label>
          <input
            type="text"
            class="form-control text-uppercase"
            formControlName="mother_lastName"
            name="mother_lastName"
            id="mother_lastName"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="mother_firstName" class="form-label"> First Name </label>
          <input
            type="text"
            class="form-control text-uppercase"
            formControlName="mother_firstName"
            name="mother_firstName"
            id="mother_firstName"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="mother_middleName" class="form-label">
            Middle Name
          </label>
          <input
            type="text"
            class="form-control text-uppercase"
            formControlName="mother_middleName"
            name="mother_middleName"
            id="mother_middleName"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="mother_number" class="form-label"> Contact Number </label>
          <input
            type="text"
            class="form-control text-uppercase"
            name="mother_number"
            formControlName="mother_number"
            id="mother_number"
          />
        </div>
      </div>
      <hr />
    </div>
    <div class="row">
      <caption class="fw-bold">
        Guardian's Name
      </caption>
      <div class="col-3">
        <div class="mb-3">
          <label for="guardian_lastName" class="form-label"> Last Name </label>
          <input
            type="text"
            class="form-control text-uppercase"
            formControlName="guardian_lastName"
            name="guardian_lastName"
            id="guardian_lastName"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="guardian_firstName" class="form-label">
            First Name
          </label>
          <input
            type="text"
            class="form-control text-uppercase"
            formControlName="guardian_firstName"
            name="guardian_firstName"
            id="guardian_firstName"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="guardian_middleName" class="form-label">
            Middle Name
          </label>
          <input
            type="text"
            class="form-control text-uppercase"
            formControlName="guardian_middleName"
            name="guardian_middleName"
            id="guardian_middleName"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="guardian_number" class="form-label">
            Contact Number
          </label>
          <input
            type="text"
            class="form-control text-uppercase"
            formControlName="guardian_number"
            name="guardian_number"
            id="guardian_number"
          />
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="profile" class="form-label">
            Profile Image
            <small class="text-danger">*</small>
          </label>
          <input
            type="file"
            accept="image/*"
            capture="user"
            class="form-control mb-3"
            name="profile"
            id="profile"
            (change)="showPreview($event)"
          />
          <div class="imagePreview text-center">
            <img
              *ngIf="!imageURL || imageURL === ''"
              src="../../assets/images/default_Profile.png"
              alt="Default Image"
              class="img-thumbnail"
              width="300"
            />
            <img
              *ngIf="imageURL && imageURL !== ''"
              [src]="imageURL"
              class="img-thumbnail"
              width="200"
            />
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="mother_occupation" class="form-label">
            Your Signature
            <small class="text-danger">*</small>
          </label>
          <canvas
            #canvas
            (touchstart)="startDrawing($event)"
            (touchmove)="moved($event)"
            width="450"
            height="300"
          ></canvas>
          <small class="error-message text-danger" *ngIf="signatureNeeded">
            Signature is required
          </small>

          <div class="my-3 text-center">
            <button (click)="clearPad()" class="btn btn-outline-info btn-sm">
              Clear
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <!-- <p-button type="submit" label="Submit"></p-button> -->
      <button pButton 
      pRipple type="submit" class="p-button-success">Submit</button>
    </div>
  </form>
</p-dialog>
