<div
  class="container-fluid p-0 mw-100 vh-100 d-flex justify-content-center align-items-center"
  id="login"
>
  <div class="d-none position-absolute" id="loading">
    <div class="loader"></div>
    <div class="text-center">Loading....</div>
  </div>
  <p-toast position="top-center" />
  <p-confirmDialog />
  <div
    class="mx-auto container-fluid bg-opacity-75 rounded-4 login-bg position-relative card shadow-lg"
    id="mainPage"
  >
    <div>
      <img src="../../assets/images/logo.png" class="img-responsive logo" />
    </div>
    <div class="mt-5 container p-3">
      <h3 class="fst-italic text-center pt-4">MNHS ONLINE ENROLLMENT SYSTEM</h3>
      <form *ngIf="!otp" class="mt-4">
        <div class="mb-3 mx-auto">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            class="form-control w-100"
            [(ngModel)]="email"
            name="email"
            id="email"
          />
        </div>
        <div class="text-center">
          <p-button type="submit" (click)="sendotp()" class="mx-auto w-50">
            Submit
          </p-button>
        </div>
      </form>

      <form
        *ngIf="otp && !showForm3"
        class="mt-4 d-flex justify-content-center align-items-center flex-column"
      >
        <p class="fst-italic">
          An Otp Code has been to your email. Please check
        </p>
        <div class="mb-3 mx-auto">
          <label for="email" class="form-label">Verification Code</label>
          <p-inputOtp
            [length]="6"
            name="verifcode"
            [(ngModel)]="otpcode"
            [integerOnly]="true"
          />
        </div>
        <div class="p-2">
          <p-button
            type="submit"
            (click)="verifyotp($event)"
            class="mx-auto w-50"
          >
            Submit
          </p-button>
        </div>
      </form>

      <form
        *ngIf="showForm3"
        class="mt-4"
        [formGroup]="resetpassform"
        (ngSubmit)="resetpass()"
      >
        <input type="hidden" formControlName="checkcode" />
        <div class="mb-3 mx-auto">
          <label for="npass" class="form-label">New Password</label>
          <p-password
            formControlName="password"
            [feedback]="false"
            [toggleMask]="true"
            class="my-3"
            id="npass"
          >
          </p-password>
          <br /><br />
          <label for="cpass" class="form-label">Retype Password</label>
          <p-password
            formControlName="cpassword"
            [feedback]="false"
            [toggleMask]="true"
            class="my-3"
            id="cpass"
          >
          </p-password>
        </div>
        <div class="text-center">
          <p-button type="submit" class="mx-auto w-50"> Submit </p-button>
        </div>
      </form>
    </div>
  </div>
</div>
