<!-- src/app/components/forgot-password/forgot-password.component.html -->

<div
  class="container-fluid p-0 mw-100 vh-100 d-flex justify-content-center align-items-center"
  id="login">
  <div
    class="d-none position-absolute"
    id="loading">
    <div class="loader"></div>
    <div class="text-center">Loading....</div>
  </div>
  <p-toast position="top-center"></p-toast>
  <p-confirmDialog></p-confirmDialog>
  <div
    class="mx-auto container-fluid bg-opacity-75 rounded-4 login-bg position-relative card shadow-lg"
    id="mainPage">
    <div class="position-absolute top-0 start-50 translate-middle">
      <img
        src="../../assets/images/logo.png"
        class="img-responsive logo">
    </div>
    <div class="mt-5 container p-2">
      <h3 class="fst-italic text-center pt-1">Send Reset OTP</h3>
      <form
        *ngIf="!otp"
        class="mt-1">
        <div class="flex flex-column gap-2">
          <label for="email">Email</label>
          <br>
          <input
            pInputText
            id="email"
            aria-describedby="email-help"
            [(ngModel)]="email"
            [ngModelOptions]="{standalone: true}">
          <br>
          <small id="email-help">
            Enter your email to reset your password.
          </small>
        </div>
        <div class="text-center mt-2 py-2">
          <p-button
            type="submit"
            (click)="sendotp()"
            class="mx-auto w-50"
            *ngIf="!loadingSendOtp">
            Submit
          </p-button>
          <p-progressSpinner
            styleClass="w-4rem h-4rem"
            strokeWidth="8"
            fill="var(--surface-ground)"
            animationDuration=".5s"
            *ngIf="loadingSendOtp"></p-progressSpinner>
        </div>
      </form>

      <form
        *ngIf="otp && !showForm3"
        class="mt-4 d-flex justify-content-center align-items-center flex-column">
        <p class="fst-italic">
          An OTP Code has been sent to your email. Please check.
        </p>
        <div class="mb-3 mx-auto">
          <label
            for="email"
            class="form-label">
            Verification Code
          </label>
          <p-inputOtp
            [length]="6"
            name="verifcode"
            [(ngModel)]="otpcode"
            [integerOnly]="true"></p-inputOtp>
        </div>
        <div class="p-2">
          <p-button
            type="submit"
            (click)="verifyotp($event)"
            class="mx-auto w-50"
            *ngIf="!loadingVerifyOtp">
            Submit
          </p-button>
          <p-progressSpinner
            styleClass="w-4rem h-4rem"
            strokeWidth="8"
            fill="var(--surface-ground)"
            animationDuration=".5s"
            *ngIf="loadingVerifyOtp"></p-progressSpinner>
        </div>
      </form>

      <form
        *ngIf="showForm3"
        class="mt-4"
        [formGroup]="resetpassform"
        (ngSubmit)="resetpass()">
        <input
          type="hidden"
          formControlName="checkcode">
        <div class="mb-3 mx-auto">
          <label
            for="npass"
            class="form-label">
            New Password
          </label>
          <p-password
            formControlName="password"
            [feedback]="false"
            [toggleMask]="true"
            class="my-3"
            id="npass">
          </p-password>
          <br>
          <br>
          <label
            for="cpass"
            class="form-label">
            Retype Password
          </label>
          <p-password
            formControlName="cpassword"
            [feedback]="false"
            [toggleMask]="true"
            class="my-3"
            id="cpass">
          </p-password>
        </div>
        <div class="text-center">
          <p-button
            type="submit"
            class="mx-auto w-50"
            *ngIf="!loadingResetPass">
            Submit
          </p-button>
          <p-progressSpinner
            styleClass="w-4rem h-4rem"
            strokeWidth="8"
            fill="var(--surface-ground)"
            animationDuration=".5s"
            *ngIf="loadingResetPass"></p-progressSpinner>
        </div>
      </form>
    </div>
  </div>
</div>
